<%#
 Copyright 2017 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<style type="text/css">
/* container for entire page. fixes bootstrap theme's ridiculously small page width */
.container {
	max-width: none;
	margin: 0 30px;
	width: auto;
}
/* column for configuration section name */
table th {
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
}
/* cells showing the configuration values */
table td {
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
}
/* sort buttons column */
table.cbi-section-table td.cbi-section-table-cell {
	text-align: center;
}
</style>
